<h1>Create a new recipe!</h1>

<form method="post" action="/recipes">
<label>Recipe name:</label>
<input type="text" name="name"><br>

<label>Ingredients:</label>
<input type="text" name="ingredients"><br>

<label>Cook Time:</label>
<input type="text" name="cook_time"><br>

<input type="submit" text="Submit">
</form>
